@tailwind base;
@tailwind components;
@tailwind utilities;

/* .post-container {
    position: relative;
    padding: 20px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.post-container:hover {
    background-color: #f9f9f9;  
}

.read-more {
    display: none;  
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    color: #0066cc;
}

.post-container:hover .read-more {
    display: block;  
} */